/**/target
/**/lib
/**/libs
/**/out
/**/build
/**/logs
*.iml
*.iws
*.ipr
/**/.idea
/**/.gradle
*.log
*package-lock.json
~$*.docx


.DS_Store
node_modules
/**/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
/**/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# compiled output
/out-tsc
# Only exists if Bazel was run
/bazel-out

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/**/.sass-cache
/**/connect.lock
/**/coverage
/**/libpeerconnection.log
testem.log
/**/typings

# System Files
Thumbs.db
*.exe
/**/venv
